@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/Rubik-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/Rubik-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url("../fonts/Rubik/Rubik-Regular.ttf");
    font-weight: 400;
}

$fonts: Rubik, 'Nunito', 'Roboto', 'Montserrat', 'Open Sans', sans-serif;

