$title-color: #FFF;
$text-color-main: #2B2B2B;
$text-color-grey: #969696;
$background-color: #FFF;

// font sizes
$input-text-size: 1.125rem;
$result-text-size: 1.25rem;
$title-text-size-mobile: 1.5rem;
$title-text-size-desktop: 2rem;
$details-text-desktop: 1.625rem;
$details-title-size-mobile: 0.625rem;
$details-title-size-desktop: 0.8125rem;
